body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    
}

.navigation-container {
    width: 1200px; 
     margin: 0 auto; 
    border: 1px solid #000; 
    background-color: #fff; }


.nav-header {
    background-color: lightgray;
    padding: 10px 0;
    text-align: center;
}

.nav-header h1 {
    font-size: 16px;
    margin: 0;
    color: #333; }

.website-word {
    color: red; }


.nav-menu {
    padding: 1px; 
    width: 300px
}

.nav-list {
    list-style: none; 
    padding: 0;
    margin: 5px 0; 
    display: flex; 
    gap: 10px; 
}

.nav-list li {
    
   
    text-align: center;
}


.nav-list a {
    display: block; 
    padding: 4px 7px;
    text-decoration: none;
    color: #333;
    border: 1px ; 
    border-radius: 3px; 
    font-size: 14px;
    white-space: nowrap; }


.blue-links a {
    background-color: lightblue; 

}

.blue-links a:hover {
    background-color: steelblue;
    color: white;
}


.green-links a {
    background-color: lightgreen; 
    
}

.green-links a:hover {
    background-color: darkgreen;
    color: white;
}