
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    min-height: 100vh;
}


.sidebar {

    width: 250px; 
    background-color: #333; 
    color: white; 
    padding: 20px;


}

.sidebar-title {
    margin-top: 0;

    padding-bottom: 10px;
}

.sidebar nav ul li {
    margin-bottom: 10px;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none; 
    display: block;
    padding: 10px;
    border-radius: 4px;
}

.sidebar nav ul li a:hover {
    background-color: #575757; 
}



.main-content {

    flex: 1; 
    padding: 20px;
    overflow-y: auto;
}

.main-content h1, .main-content h2 {
    color: #333;
    
}

.main-content section {
    margin-top: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 8px;

}